<!doctype html>
<head> 
        <head> 
                <title> Brackets | Edit User </title>
                <!-- Latest compiled and minified CSS -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <link rel="stylesheet" type="text/css" href="/assets/css/home.css"> 
                
                <!-- jQuery library -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="assets/javascript/home.js"></script>
                <!-- Latest compiled JavaScript -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            </head>
    
            <body>
    
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/"> Brackets </a>
                    </div>
    
                 <ul class="nav navbar-nav">
                    <li> <a href="/user/{{.user.Selector.String}}"> My Profile </a> </li>
                    <li> <a href="/tournament"> Tournaments </a> </li>
                    <li> <a href="/user"> Users </a></li> 
                </ul> 
    
                <ul class="nav navbar-nav navbar-right">
                        
                    <li> <a href="/settings"><span class="glyphicon glyphicon-user"></span>{{.user.FirstName}}</a></li> 
                    <li> <a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a> </li>
            </ul>
            
            </div>
            </nav> 


<div id="container-box">
  <div id="left">
    <form action="/user" method="POST">
    <table id="profile"> 
      <tr> 
        <th> 
            <div class="circle"> </div>
          </th>
          <td>
            <h2>Name: <input class="form-control" type="text" name="first" value="{{.user.FirstName}}">
                <input class="form-control" type="text" name="last" value="{{.user.LastName}}"></h2>
            <h2>Email: <input class="form-control" type="email" name="email" value="{{.user.Email}}"></h2>
            <h2>Gender: 
                <select class="form-control" name="gender" required>
                    <option {{if .male }}selected{{end}} value="m">Male</option>
                    <option {{if .female }}selected{{end}} value="f">Female</option>
                    <option {{if .other }}selected{{end}} value="o">Other</option>
                    <option {{if .pnto }}selected{{end}} value="no">Prefer not to say</option>
                </select> <br>
            </h2>
            <h2>Date of Birth: <input class="form-control" type="date" name="dob" value="{{httpdob .user.DateOfBirth}}"></h2><br>
            <input type="submit" class="btn btn-primary" value="Submit">  
          </td>
      </tr>
    </table> 
    </form>
    </div>

    <div id="right"> 
       <h1>  </h1>
    </div>

</div> 
</body>
<footer> 
</footer>
</html>