<!doctype html>
<html>
  <head> 
    <title> brackets | {{.user.FirstName}} {{.user.LastName}} </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/home.css"> 
        
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="assets/javascript/home.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"> Brackets </a>
            </div>

         <ul class="nav navbar-nav">
                {{if .login}}
            <li class="active"> <a href="/user/{{.login.Selector.String}}"> My Profile </a> </li>
            {{end}}
            <li> <a href="/tournament"> Tournaments </a> </li>
            <li> <a href="/user"> Users </a></li> 
        </ul> 

        <ul class="nav navbar-nav navbar-right">
                
        {{ if .login }}
                <li> <a href="/settings"><span class="glyphicon glyphicon-user"></span> {{.login.FirstName}} </a> </li> 
                <li> <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a> </li>
                
        {{else}}
                    <li> <a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up </a> </li> 
                    <li> <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a> </li>
        {{end}}
    </ul>
    
    </div>
    </nav> 


<div id="container-box">

  <div id="left">
    <table id="profile"> 
      <tr> 
        <th> 
            <div class="circle"> </div>
          </th>
          <td>
            <h2>Name: {{.user.FirstName}} {{.user.LastName}}</h2>
            <h2>Gender: {{.user.Gender.String}}</h2>
            <h2>Age: {{age .user.DateOfBirth}}</h2>  
          </td>
      </tr>
    </table> 
    </div>

    <div id="right"> 
       <h1>  </h1>
    </div>

</div> 
</body>
<footer> 
</footer>
</html>