<!doctype html>
<html>
    <head> 
            <title> Brackets | Users </title>
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/assets/css/home.css"> 
            
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="assets/javascript/home.js"></script>
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>

        <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"> Brackets </a>
                </div>

             <ul class="nav navbar-nav">
                {{if .login}}
                <li> <a href="/user/{{.login.Selector.String}}"> My Profile </a> </li>
                {{end}}
                <li> <a href="/tournament"> Tournaments </a> </li>
                <li class="active"> <a href="/user"> Users </a></li> 
            </ul> 

            <ul class="nav navbar-nav navbar-right">
                    
            {{ if .login }}
                    <li> <a href="/settings"><span class="glyphicon glyphicon-user"></span> {{.login.FirstName}} </a> </li> 
                    <li> <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a> </li>
                    
            {{else}}
                        <li> <a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up </a> </li> 
                        <li> <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a> </li>
            {{end}}
        </ul>
        
        </div>
        </nav> 

  <div id="container">

    {{if .users}}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Age</th>
        </tr>
      </thead>
      <tbody>
        {{range .users}}
        <tr>
          <td><a href="/user/{{.Selector.String}}">{{.FirstName}} {{.LastName}}</a></td>
          <td>{{.Gender.String}}</td>
          <td>{{age .DateOfBirth}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
    {{else}}
    <h2>No Players.</h2>
    {{end}} 
    
    <div>
            <p>
              {{if gt .pageNumber 0}}
                <a href="/user?page={{.prevPageNumber}}&results={{.results}}"> <span class="glyphicon glyphicon-arrow-left"></span></a>
                {{end}}
                {{.pageNumber}} 
                {{if .next}}
               <a href="/user?page={{.nextPageNumber}}&results={{.results}}"> <span class="glyphicon glyphicon-arrow-right"></span></a>
                {{end}}
            </p>
          </div>

  </div>
</body>

</html>