<!doctype html> 
<html>

        <head> 
            <title> Brackets | Home</title>
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="assets/css/home.css"> 
            
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="assets/javascript/home.js"></script>
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>

        <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"> Brackets </a>
                </div>

             <ul class="nav navbar-nav">
                <li class = "active"> <a href="/"> My Profile </a> </li>
                <li> <a href="/tournament"> Tournaments </a> </li>
                <li> <a href="/team"> Teams </a></li> 
            </ul> 

            <ul class="nav navbar-nav navbar-right">
                    
            {{ if .user }}
                    <li> <a href="/register"><span class="glyphicon glyphicon-user"></span> {{.user.FirstName}} </a> </li> 
                    <li> <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a> </li>
                    
            {{else}}
                        <li> <a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up </a> </li> 
                        <li> <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a> </li>
            {{end}}
        </ul>
        
        </div>
        </nav> 

        {{if .user}}
        <center><div id="Welcome"> <h2> {{ if .user}} Welcome {{.user.FirstName}} {{end}}</h2> </div></center>
        
        <div id="content"> 
            <ul class="nav nav-tabs">
                <li class="active"> <a data-toggle="tab" href="#MyTeam"> My Team</a> </li>
                <li> <a data-toggle="tab" href="#MyGames"> My Games</a></li>
                <li> <a  href="/settings"> My Profile</a></li>
            </ul>

            <div class="tab-content container-fluid"> 
                <div id="MyTeam" class="tab-pane fade in active">
                
                  {{range .teams}}
                    <ul> 
                        <li>
                            {{.Name}}
                        </li>     
                    </ul>
                  {{end}}
                    
                </div>
                <div id="MyGames" class="tab-pane fade">
                    <table class="table table-striped">
                        <tr> 
                            {{if .games}} <!-- testing to see if any games --> 
                            <th> Time </th>
                            <th> Home Team </th>
                            <th> Away Team </th>
                            {{end}}
                        </tr>
                        {{range .games}}
                        <tr> 
                            <td> {{.Time.String}}  </td>  
                            <td> {{.HomeTeam.Name}}  </td>
                            <td> {{.AwayTeam.Name}}  </td>
                        </tr>
                        {{end}}

                    </table>
                </div>
                <div id="MyProfile" class="tab-pane fade">
                    <h3> My Profile </h3>
                    <!-- fourm to change password, email, etc...-->
                    <p>
                        some form to edit the profile here maybe who knows 
                    </p>
                </div>
            </div>
        </div>
        {{else}}

      
        <div id="container"> 
            <h1> WELCOME TO BRACKETS </h1>
            <p>
                    brackets is an application that manages small tournaments. The application will show team managers the makeup of their team, their upcoming and past matches, and show the current status of the tournament.
            </p>
        </div>
        </body>
        {{end}}
</html>