<!doctype html> 
<html>
        <head> 
            <title> brackets </title>
            
            
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="assets/css/home.css"> 
            
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="assets/javascript/home.js"></script>
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>

        <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"> Brackets </a>
                </div>

             <ul class="nav navbar-nav">
                <li class = "active"> <a href="#"> My Profile </a> </li>
                <li> <a href="#"> Tournaments </a> </li>
                <li> <a href="#"> Teams </a></li> 
            </ul> 

            <ul class="nav navbar-nav navbar-right">
                    
            {{ if .ID }}
                 <li> <a href="#"></a><span class="glyphicon glyphicon-user"></span> {{.FirstName}} </a> </li> 
            {{else}}

                        <li> <a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up </a> </li> 
                        <li> <a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a> </li>
            {{end}}
        </ul>
        
        </div>
        </nav> 

        <center><div id="Welcome"> <h2> {{ if .ID}} Welcome {{.FirstName}} {{end}}</h2> </div></center>
        <div id="break"> 
            <div class="container-fluid"> 
                <div class="circle"> <h5>Wins</h5> <h1>5</h1> </div>
                <!-- This query would be adding up all the games whos winner = the players team name -->
                <div class="circle"><h5>Loses</h5><h1>5</h1></div>
                <div class="circle"><h5>More Games</h5><h1>5</h1></div>  
            </div>

        </div>
        <div id="content"> 
            <ul class="nav nav-tabs">
                <li class="active"> <a data-toggle="tab" href="#stats"> My Team</a> </li>
                <li> <a data-toggle="tab" href="#MyGames"> My Games</a></li>
                <li> <a data-toggle="tab" href="#MyTournaments"> My Tournaments</a></li>
                <li> <a data-toggle="tab" href="#MyProfile"> My Profile</a></li>
            </ul>

            <div class="tab-content container-fluid"> 
                <div id="stats" class="tab-pane fade in active">
                    <object type ="text/html" target="_parent" data="teamtable.html"> </object>
                    
                </div>
                <div id="MyGames" class="tab-pane fade">
                    <h3> My Games </h3>
                    <!-- Query of upcoming games all in a tournament or season-->
                    <p>
                        Add some more content here later 
                    </p>
                </div>
                <div id="MyTournaments" class="tab-pane fade"> 
                    <!-- All Tournaments for the year / Season -->
                    <h3> My Tournaments </h3>
                </div>
                <div id="MyProfile" class="tab-pane fade">
                    <h3> My Profile </h3>
                    <!-- fourm to change password, email, etc...-->
                    <p>
                        some form to edit the profile here maybe who knows 
                    </p>
                </div>
            </div>
        </div>
        </body>
</html>