<!doctype html>
<html>

<head>
    <title> Brackets | Tournaments </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/home.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"> Brackets </a>
            </div>

            <ul class="nav navbar-nav">
                {{if .login}}
                <li>
                    <a href="/user/{{.login.Selector.String}}"> My Profile </a>
                </li>
                {{end}}
                <li class="active">
                    <a href="/tournament"> Tournaments </a>
                </li>
                <li>
                    <a href="/user"> Users </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                {{ if .login }}
                <li>
                    <a href="/settings">
                        <span class="glyphicon glyphicon-user"></span> {{.login.FirstName}} </a>
                </li>
                <li>
                    <a href="/logout">
                        <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
                {{else}}
                <li>
                    <a href="/register">
                        <span class="glyphicon glyphicon-user"></span> Sign Up </a>
                </li>
                <li>
                    <a href="/login">
                        <span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                {{end}}
            </ul>

        </div>
    </nav>



    <div id="container">
        {{if .login}}
        <form action="/tournament" method="POST" >
            <p>Name: <input type="text" class="form-control" name="new_tour" required></p>
            <input type="submit" class="btn btn-primary" value="Create">
        </form>
        {{end}}
        {{if .tournaments}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Tournaments</th>
                </tr>
            </thead>
            <tbody>
                {{range .tournaments}}
                <tr>
                    <td>
                        <a href="/tournament/{{.Selector.String}}">{{.Name}}</a>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
        {{else}}
        <h2>No Teams.</h2>
        {{end}}


        <div>
            <p>
                {{if gt .pageNumber 0}}
                <a href="/tournament?page={{.prevPageNumber}}&results={{.results}}"><span class="glyphicon glyphicon-arrow-left"></span></a>
                {{end}} 
                {{.pageNumber}} 
                {{if .next}}
                <a href="/tournament?page={{.nextPageNumber}}&results={{.results}}"><span class="glyphicon glyphicon-arrow-right"></span></a>
                {{end}}
            </p>
        </div>
    </div>
</body>

</html>