html 
{
    background-color: white; 
}
body
{
    padding: 10px; 
}
nav 
{
    padding: 10px; 
}
#content
{
    width: 80%; 
    max-height: auto; 
    position: relative;
    margin: 0 auto; 
    padding: 50px; 
}

.circle
{
    border-radius: 50%; 
    width: 200px; 
    height: 200px; 
    background-color: black; 
    text-align: center; 
    color: white; 
    display: inline-block; 
}
#break 
{
    position: relative; 
    width: 650px;
    margin: 0 auto; 
}
.cricle h1
{
    font-size: 50pt; 
}
object 
{
    overflow: hidden; 
    position: absolute; 
    height: 100%; 
    width: 100%; 

}
.tabStuff
{
    max-height: 100%; 
}