<!doctype html>
<html>

<head>
  <title>brackets | {{.team.Name}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">brackets</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/tournaments">Tournaments</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/users">Users</a>
        </li>

      </ul>
    </div>
  </nav>


  <div id="container">
    <h1>{{.team.Name}}</h1>

    {{if .team.Players}}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Age</th>
          <th scope="col">Rank</th>
        </tr>
      </thead>
      <tbody>
        {{range .team.Players}}
        <tr>
          <td><a href="/user/{{.Selector.String}}">{{.FirstName}} {{.LastName}}</a></td>
          <td>{{.Gender.String}}</td>
          <td>{{age .DateOfBirth}}</td>
          <td>{{.Rank.String}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
    {{else}}
    <h2>No Players.</h2>
    {{end}} 
    
    {{if .games}}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Opponent</th>
          <th scope="col">Location</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        {{range .games}}
        <tr>
          <th scope="row">1</th>
          <td>{{.Name}}</td>
          <td>{{.Opponent}}</td>
          <td>{{.Location}}</td>
          <td>{{.Time}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
    {{else}}
    <h2>No Games.</h2>
    {{end}}

  </div>
</body>

</html>